{
  "env": {
    "development": {
      "presets": [
        "@babel/env",
        "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
      ]
    },

    "es-development": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ],
        "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
      ]
    },

    "umd-development": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ],
        "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
      ]
    },

    "test": {
      "presets": [
        "@babel/env"
      ],
      "sourceMaps": "inline"
    },

    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ],
        "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
      ],
      "comments": false
    }
  }
}
