{
  "plugins": [
    "transform-node-env-inline",
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/react"
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/preset-env"
      ]
    },

    "es-development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    },

    "umd-development": {
      "presets": [
        "@babel/preset-env"
      ]
    },

    "test": {
      "presets": [
        ["@babel/preset-env", { "modules" : "cjs" }],
        "@babel/react"
      ],
      "plugins": [
        ["istanbul", { 
          "exclude": [
            "./test",
            "./cjs/**/*.js",
            "./es/**/*.js",
            "./umd/**/*.js",
            "./node_modules/**"
            ]}]
      ],
      "compact": true
    },

    "production": {
      "comments": false,
      "presets": [
        "@babel/preset-env"
      ]
    },
    "es-production": {
      "comments": false,
      "presets": [
        "@babel/preset-env",
        [
          "minify",
          {
            "builtIns": false
          }
        ]
      ]
    }
  }
}
